@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #b9dceb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Auth {
  margin-left: -10rem;
  display: flex;
  flex-direction: row;
}
.App {

  text-align: center;
}

h1 {
  color: #000000;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  color: #000;
  border: 2px solid black;
  background: #ffffff;
  margin-top: 10rem;
  padding: 2rem;
  border-radius: 15px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #2d8dfc;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #000000;
}

.todo-input::placeholder {
  color: #0033424d;
}

.todo-btn {
  background: #2d8dfc;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2d8dfc;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #000000;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
.sidenav {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  background: #011627;
  height: 70px; 
  padding: 0 30px;
  transition: all 1s;
}

ul {
  padding: 0;
  display: flex;
}

ul li {
  list-style-type: none;
  margin: 0 10px;
}

ul li .link {
  margin-top: 2.5px;
  color: #eaecef;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 20px;
  border-radius: 6px;
}

ul li .link:hover,
ul li .link.active {
  background: #172b4d;
  height: 100%;
}
.aboutUs{
  padding: 10rem;
}
.SignUpWithLocalStorage, .SignInWithLocalStorage{
  text-align: center;
  border: 2px solid black;
  margin-top: 10rem;
  border-radius: 15px;
  background: #ffffff;
  display: block;
  justify-content: end;
  margin-bottom: 20rem;
  padding: 2rem;
}

#username, #password , #email{
  outline: none;
  background: none;
  border: 1px solid #2d8dfc;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  width: 300px;
  color: #000000;
}

#username:focus, #password:focus , #email:focus{
  border: 1px solid green;
}


.sign {
  margin-top: 0.9rem;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #011627;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #011627;
}


.sign:hover {
  background-color: #1a5485;
}
#Switch {
  border: none;
  cursor: pointer;
  border-radius: 15px;
  height: 50px;
  width: 60px;
  margin-top: 35rem;
  position: absolute;
  left: 54rem;
}
#Switch:hover {
  background: rgb(14, 69, 172);
  color: white;
}
#SignOut{
  cursor: pointer;
  background-color: rgba(233, 49, 49, 0.637);
  border: none;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 20px;
  border-radius: 6px;
  color: white;
}
#SignOut:hover {
  color: rgba(233, 49, 49, 0.637);
  background: white;
}
#signout {
  padding: 10rem;
}